@import 'colors';
$main-font:Helvetica, Arial, sans-serif;

body {
  font-family: $main-font;
  background: $fanduel-bg;
  width: 100%;
  height: 100%;
  margin: 0;
}

.selected { 
  background: $fanduel-highlight;
}

.global-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 66px;
  background: $fanduel-navy;
  color: $white;
  -webkit-font-smoothing: antialiased;
  font-size: 0.875rem;

  &__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    margin: 0 auto;
  }
}

.global-footer {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 101px;
  background: $footer-gray;
  overflow-x: scroll;
  color: $white;
  -webkit-font-smoothing: antialiased;
  font-size: 0.875rem;

  &__leagueRow {
    background: $fanduel-navy;
    height: 22px;
    padding-left: 27px;
    padding-top: 5px;
    width: 120%;
  }

  &__league {
    padding: 5px 120px 6px 15px;
  }

  .current {
    background: $selected-green;
    font-weight: bold;
  }

  .other {
    color: $fanduel-highlight;
    border-right: 1px solid $fanduel-highlight;
  }


  &__left,
  &__right {
    padding: 27px 10px 27px 10px;
    background: $footer-gray;
  }

  &__right {
    margin-left: auto;
  }

  &__currentGame,
  &__otherGames{
    display: flex;
  }

  &__currentGame {
    background-color: $footer-current;
    padding: 11px 50px 11px 15px;
  }

  &__otherGames {
    color: $other-games;
  }

  &__otherScore {
    padding-right:20px;
    border-right: 1px solid $other-games;
    padding-top: 11px;
  }

  &__otherTeams {
    padding-left: 10px;
    padding-top: 11px;
  }

  &__teamAbbr {
    margin-left: 30px;
    padding-right: 5px;
    font-size: 11px;
    font-weight: bold;
  }

  &__team {
    padding: 1px;
    text-transform: uppercase;
  }

  &__points {
    font-weight: bold;
    margin-left: 20px;
    display: block;
  }

  &__time,
  &__stats {
    white-space: nowrap;
    font-size: 11px;
  }

  &__players {
    padding-left: 20px;
  }

  &__player {
    font-weight: bold;
  }

  &__away, 
  &__home {
    display: inline;
  }

  &__player {
    display: block;
  }

  &__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    margin: 0 auto;
  }
}

.logo-container {
  padding-left: 0;
  padding-top: 10px;
  display: inline-block;
  position: relative;
}

.logo {
  height: 38px;
  width: 140px;
  padding-top: 5px;
  padding-left: 10px;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
 }

 .primary-nav,
 .secondary-nav {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;

  &__list {
   display: flex;
   flex-wrap: wrap;
   list-style-type: none;
   margin: 0;
  }

  &__item {
    display: inline-block;
    list-style-type: none;

    &:hover {
      background: $fanduel-highlight;
    }
  }

  &__anchor {
    text-align: center;
    padding-right: 25px;
    padding-left: 25px;
    text-decoration: none;
    line-height: 66px;
    overflow: hidden;
    position: relative;

    &:link, 
    &:visited, 
    &:active {
      color: $white;
    }
  }
 }

 .secondary-nav {
   text-align: right;
   margin-left: auto;
   &__balance,
   &__balance div {
     display: inline;
     height: 66px;
   }

   &__balance div:nth-child(2) {
     position: absolute;
     display: block;
     top: -10px;
     left: 63px;
     bottom: 15px;
     font-size: 11px;
   }

   &__button {
     display: inline;
     border-radius: 3px;
     position: relative;
     top: 5px;
     padding: 6px 10px 6px 10px;
     background: $selected-green;
     font-size: 12px;
     margin-top: 5px;
     margin-left: 10px;
   }
 }

 .content {
   display: flex;
   margin-top: 60px;
   padding: 20px;
 }

 .left-container {
   flex: 3;
 }

 .shotchart-container {
   margin: 5px;
   height: 430px;
   background: $white;
   border-radius: 10px;


   &__header {
     padding: 25px;
     display: flex;
     flex-direction: row;

     &--away {
      flex: 2;
      color: $warriors;
      text-align: left;
     }

     &--home {
      flex: 2;
      color:$thunder;
      text-align: right;
     }

     &--location {
      color: $location-gray;
      font-size: 11px;
     }

     &--time {
       padding-bottom: 5px;
       font-size: 13px;
     }

     &--info {
       flex: 1;
     }

     &--location,
     &--time {
       font-weight: bold;
       display: block;
       text-align: center;
       border-left: 1px solid $light-gray;
       border-right: 1px solid $light-gray;
       padding-left: 15px;
       padding-right: 15px;
     }
   }

   &__awayScore {
    color: $warriors;
    flex: 1;
  }

  &__homeScore {
    color: $thunder;
    flex: 1;
    text-align: right;
  }

  &__awayScore, 
  &__homeScore {
    flex: 1;
    font-size: 64px;
    font-weight: bold;
  }

   &__awayCity,
   &__awayTeam,
   &__homeCity,
   &__homeTeam {
     font-family: 'Gotham Medium', sans-serif;
     font-size: 20px;
     line-height: 20px;
     text-transform: uppercase;
   }

   &__awayCity,
   &__homeCity {
     font-weight: 400;
   }

   &__awayTeam,
   &__homeTeam {
     font-weight: bold;
     display: block;
   }

   &__spacer {
     background: $spacer;
     padding: 7px;
     display: block;
     text-transform: uppercase;
     font-size: 10px;
     text-align: center;
   }

   &__toggle {
     text-align: center;
     text-transform: uppercase;
     font-size: 12px;
     padding: 7px;

     &--selected {
       font-weight: bold;
     }
   }

   &__content {
     text-align: center;
   }
 }

 .scoring-container {
   margin: 5px;
   flex: 1;
   background: $white;

   &__header {
    text-align: center;
    height: 15px;
    padding: 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: -0.24px;
    background: $container-header;
    color: $white;
   }

   &__nav {
     padding: 10px 10px;
     text-transform: uppercase;
     font-size: 13px;
     border-bottom: 1px solid $border;
   }

   &__item {
     padding-right: 15px;
     font-size: 11px;
     font-weight: 500;
     line-height: 7px;
     text-transform: uppercase;
     cursor: pointer;
   }

   .scoringTab {
    color: $selected-green;
   }   

 }

 .inside-left {
  //  justify-content: center;
  display: flex;
 }

 .pbp-container,
 .stats-container {
   margin: 5px;
   background: $white;
   min-height: 427px;
   height: 100%;
   flex: 1;
  //  width: 100%; 

   &__header{
    text-align: center;
    height: 15px;
    padding: 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: -0.24px;
    background: $container-header;
    color: $white;
   }
 }

 .pbp-container {

  .highlighted {
    background: linear-gradient(to top, $highlight, $white);
  }

   &__row {
     padding: 10px;
     display: flex;
     border-bottom: 1px solid $light-gray;
   }

   &__headshot {
     margin-right: 5px;
   }

   &__player,
   &__score {
     font-weight: bold;
   }

   &__player,
   &__play {
     line-height: 14px;
   }

   &__play {
     color: $fd-gray;
     font-size: 12px;
     font-weight: 500;
   }

   &__play div {
     display: block;
   }

   &__time {
     font-size: 11px;
     color: $satan-gray;
     font-weight: 500;
     letter-spacing: -0.22px;
   }

   &__score {
     flex: 2;
     padding-top: 3px;
     text-align: right;
     font-size: 14px;
     letter-spacing: -0.24px;
     align-content: center;
   }
 }

 @media (max-width: 641px) {
  .primary-nav {
    display: none;
  }

  .logo-container {
    padding-left: 30%;
  }

   .content,
   .inside-left,
   .shotchart-container__header {
     flex-direction: column;
   }

   .global-footer {
     display: none;
   }

   .shotchart-container {
     height: 100%;

     &__content img {
       padding: 10px;
       width: 80%;
     }
   }

   .active {
    left: 0 !important;
  }
  
   .sidebar-nav {
     position: fixed;
     top: 0;
     left: -250px;
     background: $fanduel-navy;
     width: 250px;
     height: 100%;
     transition: .3s;

     &__list {
       margin: 0;
       padding: 20px 0;
     }

     &__item {
       list-style: none;
     }

     &__anchor {
       padding: 10px 20px;
       color: $white;
       display: block;
       text-decoration: none;
       border-bottom: 1px solid $other-games;

       &:hover {
         background: $fanduel-highlight;
       }
     }
   }

   .sidebarBtn {
    position: absolute;
    top: 0;
    right: -50px;
    width: 50px;
    height: 66px;
    box-sizing: border-box;
    cursor: pointer;
    background: $fanduel-navy;
    border: none;
    outline: none;

    & span {
     display: block;
     width: 35px;
     height: 3px;
     background: $white;
     position: absolute;
     top: 30px;
     transition: .3s;
    }

    & span:before {
      content: '';
      position: absolute;
      top: -10px;
      left: 0;
      width: 100%;
      height: 3px;
      background: $white;
    }


    & span:after {
     content: '';
     position: absolute;
     top: 10px;
     left: 0;
     width: 100%;
     height: 3px;
     background: $white;
   }
  }
 }

 @media (min-width: 641px) {
   .content {
     padding-left: 5%;
     padding-right: 5%;
   }
   .sidebar-nav {
     display: none;
   }
 }
 