<footer class="global-footer">
  <div class="global-footer__leagueRow">
    <span>NBA</span>
    <span>MLB</span>
    <span>NCAAF</span>
  </div>
  <div class="global-footer__container">

      <span class="global-footer__left"><i class="fas fa-angle-left"></i></span>

      <div class="global-footer__currentGame">
          <div class="global-footer__teams">
              <div class="global-footer__team">Warriors</div>
              <div class="global-footer__team">Thunder</div>
              <span class="global-footer__time">7:34 4th - TV: ESPN</span>
            </div>
            
            <div class="global-footer__score">
                <span class="global-footer__points">96</span>
                <span class="global-footer__points">81</span>
            </div>
      
            <span class="global-footer__teamAbbr">GSW</span>
      
            <div class="global-footer__players">
              <div class="global-footer__away">
                  <span class="global-footer__player">S. Curry, PG</span>
                  <span class="global-footer__stats">23 points, 6 assists</span>
              </div>
            </div>
      
            <span class="global-footer__teamAbbr">OKC</span>
      
            <div class="global-footer__players">
              <div class="global-footer__home">
                  <span class="global-footer__player">K. Durant, SF</span>
                  <span class="global-footer__stats">30 points, 9 rebounds</span>
              </div>
            </div>
      </div>
     

        <!-- <div class="global-footer__otherGames">
          <div class="global-footer__game">
              <span>CHI</span><span>56</span>
              <span>BOS</span><span>54</span>
              <span>6:33 3rd</span>
          </div>

          <div class="global-footer__game">
              <span>ATL</span><span>26</span>
              <span>MEM</span><span>24</span>
              <span>12:00 2nd</span>
          </div>
        </div> -->
      <span class="global-footer__right"><i class="fas fa-angle-right"></i></span>

  </div>
</footer>
</body>
</html>