<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Scripts -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>

    <script type="text/javascript">
      $(document).ready(function(){
        $('.sidebarBtn').click(function(){
          $('.sidebar-nav').toggleClass('active');
        })
      })
    </script>
    
<!-- Styles -->
    <link rel="stylesheet" href="css/styles.css">
<!-- Meta Info -->
    <title>FanDuel Static</title>
    <meta name="description" content="A static version of a FanDuel PSD." />
  </head>
<!-- Start Page -->
  <body>
    <div>
      <header class="global-header">
        <div class="global-header__container">
          <section class="logo-container">
              <a href="/"><img class="logo" src="../img/logo.png" alt="FanDuel Logo"/></a>
          </section>

          <nav class="primary-nav">
              <ul class="primary-nav__list">
                <li class="primary-nav__item"><a class="primary-nav__anchor" href="/">Lobby</a></li>
                <li class="primary-nav__item"><a class="primary-nav__anchor" href="/">Upcoming</a></li>
                <li class="primary-nav__item selected"><a class="primary-nav__anchor" href="/">Live <i class="fas fa-angle-down"></i>
                </a></li>
                <li class="primary-nav__item"><a class="primary-nav__anchor" href="/">History</a></li>
            </ul>            
          </nav>

          <nav class="sidebar-nav">
              <ul class="sidebar-nav__list">
                <li class="sidebar-nav__item"><a class="sidebar-nav__anchor" href="/">Lobby</a></li>
                <li class="sidebar-nav__item"><a class="sidebar-nav__anchor" href="/">Upcoming</a></li>
                <li class="sidebar-nav__item selected"><a class="sidebar-nav__anchor" href="/">Live <i class="fas fa-angle-down"></i>
                </a></li>
                <li class="sidebar-nav__item"><a class="sidebar-nav__anchor" href="/">History</a></li>
            </ul>  
            <button class="sidebarBtn">
              <span></span>
            </button>          
          </nav>

          <!-- <nav class="secondary-nav">
            <div class="secondary-nav__item">
              <ul class="primary-nav__list">
                <li class="primary-nav__item"><a class="primary-nav__anchor" href="/">Help <i class="fas fa-angle-down"></i></a></li>
                <li class="primary-nav__item"><a class="primary-nav__anchor" href="/">nbonnadio <i class="fas fa-angle-down"></i></a></li>
                <li class="primary-nav__item"><a class="primary-nav__anchor" href="/">$1,000,000.00<span>BALANCE</span></a></li>
              </ul>
            </div>
          </nav> -->

        </div>
      </header>
    </div>
