<div class="content">

  <div class="left-container">

    <div class="shotchart-container">
      <div class="shotchart-container__header">
        <span class="shotchart-container__header--away">
          <span>Golden State</span>
          <span>Warriors</span>
        </span>

        <span class="shotchart-container__header--info">
          <span>7:34 4th</span>
          <span>Oracle Arena</span>
          <span>Oakland, CA</span>
        </span>

        <span class="shotchart-container__header--home">
            <span>Oklahoma City</span>
            <span>Thunder</span>
          </span>
      </div>
    </div>

    <div class="inside-left">
        <div class="pbp-container">
            <div class="pbp-container__header">
              Play By Play
            </div>
      
          </div>
      
          <div class="stats-container">
              <div class="stats-container__header">
                Stats
              </div>
      
          </div>
    </div>


</div>


  <div class="scoring-container">
  <div class="scoring-container__header">
    Your Scoring
  </div>
  <div class="scoring-container__nav">
    <span class="scoring-container__item">This Game</span>
    <spa class="scoring-container__item">All Games</span>
  </div>
  </div>
</div>