<div class="content">

  <div class="left-container">

    <div class="shotchart-container">
      <div class="shotchart-container__header">
        <div class="shotchart-container__header--away">
          <span class="shotchart-container__awayCity">Golden State</span>
          <span class="shotchart-container__awayTeam">Warriors</span>
        </div>

        <div class="shotchart-container__awayScore">96</div>

        <div class="shotchart-container__header--info">
          <span class="shotchart-container__header--time">7:34 4th</span>
          <span class="shotchart-container__header--location">Oracle Arena</span>
          <span class="shotchart-container__header--location">Oakland, CA</span>
        </div>

        <div class="shotchart-container__homeScore">81</div>

        <div class="shotchart-container__header--home">
            <span class="shotchart-container__homeCity">Oklahoma City</span>
            <span class="shotchart-container__homeTeam">Thunder</span>
        </div>
      </div>

      <div class="shotchart-container__spacer">
        Last Play: TV Timeout. Go get a snack.
      </div>

      <div class="shotchart-container__content">
        <div class="shotchart-container__toggle">
          Show: <span class="shotchart-container__toggle--selected">Recent Shots <i class="fas fa-angle-down"></i></span>
        </div>

        <div class="shotchart-container__awayStats">

        </div>

        <div class="shotchart-container__shotchart">
          <img src="../img/shotchart.png" alt="Warriors vs Thunder Shotchart"/>
        </div>

        <div class="shotchart-container__homeStats">
          
        </div>

      </div>
    </div>

    <div class="inside-left">
        <div class="pbp-container">
            <div class="pbp-container__header">
              Play By Play
            </div>
      
          </div>
      
          <div class="stats-container">
              <div class="stats-container__header">
                Stats
              </div>
      
          </div>
    </div>


</div>


  <div class="scoring-container">
  <div class="scoring-container__header">
    Your Scoring
  </div>
  <div class="scoring-container__nav">
    <span class="scoring-container__item">This Game</span>
    <spa class="scoring-container__item">All Games</span>
  </div>
  </div>
</div>