body {
  font-family: Helvetica, Arial, sans-serif;
  background: #bcbcbc;
  width: 100%;
  height: 100%;
  margin: 0; }

.selected {
  background: #505a61; }

.global-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 66px;
  background: #2d363c;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  font-size: 0.875rem; }
  .global-header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    margin: 0 auto; }

.global-footer {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 101px;
  background: #505961;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  font-size: 0.875rem; }
  .global-footer__leagueRow {
    background: #2d363c;
    height: 22px;
    padding-left: 27px;
    padding-top: 5px; }
  .global-footer__league {
    padding: 5px 120px 6px 15px; }
  .global-footer .current {
    background: #669933;
    font-weight: bold; }
  .global-footer .other {
    color: #505a61;
    border-right: 1px solid #505a61; }
  .global-footer__left, .global-footer__right {
    padding: 27px 10px 27px 10px;
    background: #505961; }
  .global-footer__currentGame {
    display: flex;
    padding: 11px 50px 11px 15px;
    background-color: #616a71; }
  .global-footer__teamAbbr {
    margin-left: 30px;
    padding-right: 5px;
    font-size: 11px;
    font-weight: bold; }
  .global-footer__team {
    padding: 1px;
    text-transform: uppercase; }
  .global-footer__points {
    font-weight: bold;
    margin-left: 20px;
    display: block; }
  .global-footer__time {
    font-size: 12px; }
  .global-footer__players {
    padding-left: 20px; }
  .global-footer__player {
    font-weight: bold; }
  .global-footer__stats {
    font-size: 11px; }
  .global-footer__away, .global-footer__home {
    display: inline; }
  .global-footer__player {
    display: block; }
  .global-footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    margin: 0 auto; }

.logo-container {
  padding-left: 0;
  padding-top: 10px;
  display: inline-block;
  position: relative; }

.logo {
  height: 38px;
  width: 140px;
  padding-top: 5px;
  padding-left: 10px;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox; }

.primary-nav {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none; }
  .primary-nav__list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0; }
  .primary-nav__item {
    display: inline-block;
    list-style-type: none; }
    .primary-nav__item:hover {
      background: #505a61; }
  .primary-nav__anchor {
    text-align: center;
    padding-right: 25px;
    padding-left: 25px;
    text-decoration: none;
    line-height: 66px;
    overflow: hidden;
    position: relative; }
    .primary-nav__anchor:link, .primary-nav__anchor:visited, .primary-nav__anchor:active {
      color: #fff; }

.content {
  display: flex;
  margin-top: 60px;
  padding: 20px; }

.left-container {
  flex: 3; }

.shotchart-container {
  margin: 5px;
  height: 405px;
  background: #fff;
  border-radius: 10px; }
  .shotchart-container__header {
    padding: 25px;
    display: flex;
    flex-direction: row; }
    .shotchart-container__header--away {
      flex: 2;
      color: #fdb92c;
      text-align: left; }
    .shotchart-container__header--home {
      flex: 2;
      color: #127dc2;
      text-align: right; }
    .shotchart-container__header--location {
      color: #858585;
      font-size: 11px; }
    .shotchart-container__header--time {
      padding-bottom: 5px;
      font-size: 13px; }
    .shotchart-container__header--info {
      flex: 1; }
    .shotchart-container__header--location, .shotchart-container__header--time {
      font-weight: bold;
      display: block;
      text-align: center;
      border-left: 1px solid #cccccc;
      border-right: 1px solid #cccccc;
      padding-left: 15px;
      padding-right: 15px; }
  .shotchart-container__awayScore {
    color: #fdb92c;
    flex: 1; }
  .shotchart-container__homeScore {
    color: #127dc2;
    flex: 1;
    text-align: right; }
  .shotchart-container__awayScore, .shotchart-container__homeScore {
    flex: 1;
    font-size: 64px;
    font-weight: bold; }
  .shotchart-container__awayCity, .shotchart-container__awayTeam, .shotchart-container__homeCity, .shotchart-container__homeTeam {
    font-family: 'Gotham Medium', sans-serif;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase; }
  .shotchart-container__awayCity, .shotchart-container__homeCity {
    font-weight: 400; }
  .shotchart-container__awayTeam, .shotchart-container__homeTeam {
    font-weight: bold;
    display: block; }
  .shotchart-container__spacer {
    background: #f2f2f2;
    padding: 7px;
    display: block;
    text-transform: uppercase;
    font-size: 10px;
    text-align: center; }
  .shotchart-container__toggle {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    padding: 7px; }
    .shotchart-container__toggle--selected {
      font-weight: bold; }
  .shotchart-container__content {
    text-align: center; }

.scoring-container {
  margin: 5px;
  flex: 1;
  background: #fff; }
  .scoring-container__header {
    text-align: center;
    height: 15px;
    padding: 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: -0.24px;
    background: #000000;
    color: #fff; }
  .scoring-container__nav {
    padding: 10px 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-bottom: 1px solid #e5e5e5; }
  .scoring-container__item {
    padding-right: 15px;
    font-size: 11px;
    font-weight: 500;
    line-height: 7px;
    text-transform: uppercase;
    cursor: pointer; }
  .scoring-container .scoringTab {
    color: #669933; }

.inside-left {
  display: flex; }

.pbp-container,
.stats-container {
  margin: 5px;
  background: #fff;
  min-height: 427px;
  height: 100%;
  flex: 1; }
  .pbp-container__header,
  .stats-container__header {
    text-align: center;
    height: 15px;
    padding: 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: -0.24px;
    background: #000000;
    color: #fff; }

.pbp-container .highlighted {
  background: linear-gradient(to top, #fff8ea, #fff); }

.pbp-container__row {
  padding: 10px;
  display: flex;
  border-bottom: 1px solid #cccccc; }

.pbp-container__headshot {
  margin-right: 5px; }

.pbp-container__player, .pbp-container__score {
  font-weight: bold; }

.pbp-container__player, .pbp-container__play {
  line-height: 14px; }

.pbp-container__play {
  color: #333333;
  font-size: 12px;
  font-weight: 500; }

.pbp-container__play div {
  display: block; }

.pbp-container__time {
  font-size: 11px;
  color: #666666;
  font-weight: 500;
  letter-spacing: -0.22px; }

.pbp-container__score {
  flex: 2;
  padding-top: 3px;
  text-align: right;
  font-size: 14px;
  letter-spacing: -0.24px;
  align-content: center; }

@media (max-width: 641px) {
  .content,
  .inside-left,
  .shotchart-container__header {
    flex-direction: column; }
  .global-footer {
    display: none; }
  .shotchart-container__content img {
    width: 60%; } }
